* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main22-infra {
  width: 100%;
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.maindevelop-infra {
  /* width: 90%; */
  margin: auto;
  display: flex;
}
.leftdevelop-infra {
  width: 45%;
  /* margin-left: -1%; */
}
.RightDevelop-infra {
  width: 52%;
  /* margin-left: 5%; */
}
.RightDevelop-infra p {
  text-align: start;
  color: #fff;
  margin-left: 18px;
}
.subleftdevelop1-infra h1 {
  color: #fff;
  font-weight: 600;
  font-size: 54px;
  text-align: start;
  font-family: "Libre Franklin";
}

.alert2001-infra {
  /* background: rgba(255, 255, 255, 0.08); */
  width: 100%;
  text-align: start;
  /* border-color: rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04); */
  border-radius: 16px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.servicesdevelop-infra {
  background: linear-gradient(169deg, #6458e7 26.53%, #9760f4 55.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Libre Franklin";
}
.dot1-infra {
  height: 314px;
  width: 314px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 30%;
  margin-top: 25%;
  color: #fff;
  font-weight: 600;
  font-size: 18px;

  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.08) 0%,
      rgba(0, 0, 0, 0.08) 100%
    ),
    linear-gradient(90deg, #e0b0ff 0%, #9474f6 76.04%);
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(50px);
}

.dot2-infra {
  height: 180px;
  width: 180px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 69%;
  top: -450px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  background: linear-gradient(90deg, #e0b0ff 0%, #9474f6 76.04%);
}
.dot3-infra {
  height: 125px;
  width: 125px;
  /* background: linear-gradient(169deg, #6458e7 26.53%, #9760f4 55.47%); */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 72%;
  top: -490px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  background: linear-gradient(90deg, #e0b0ff 0%, #9474f6 76.04%);
  /* filter: drop-shadow(4px 4px 100px rgba(255, 255, 255, 0.25)); */
}
.dot4-infra {
  height: 150px;
  width: 150px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 35%;
  margin-top: -800px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 2px;
  background: linear-gradient(90deg, #e0b0ff 0%, #9474f6 76.04%);
}
.dot5-infra {
  height: 122px;
  width: 122px;
  /* background: linear-gradient(169deg, #6458e7 26.53%, #9760f4 55.47%); */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 55%;
  margin-top: 30%;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  background: linear-gradient(90deg, #e0b0ff 0%, #9474f6 76.04%);
}
.dot6-infra {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(251, 250, 250, 0.04); */
  border-radius: 50%;
  position: relative;
  left: 22%;
  margin-top: -44%;
  background: linear-gradient(
    90deg,
    rgba(224, 176, 255, 0.2) 0%,
    rgba(148, 116, 246, 0.2) 76.04%
  );
}
.dot7-infra {
  height: 37px;
  width: 37px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  position: relative;
  left: 85%;
  margin-top: 20%;
  background: linear-gradient(
    90deg,
    rgba(224, 176, 255, 0.2) 0%,
    rgba(148, 116, 246, 0.2) 76.04%
  );
}
.dot8-infra {
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(251, 250, 250, 0.04); */
  border-radius: 50%;
  position: relative;
  left: 72%;
  margin-top: -10%;
  background: linear-gradient(
    90deg,
    rgba(224, 176, 255, 0.2) 0%,
    rgba(148, 116, 246, 0.2) 76.04%
  );
}
.dot9-infra {
  height: 13px;
  width: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(251, 250, 250, 0.04); */
  border-radius: 50%;
  position: relative;
  left: 32%;
  margin-top: 20%;
  background: linear-gradient(
    90deg,
    rgba(224, 176, 255, 0.2) 0%,
    rgba(148, 116, 246, 0.2) 76.04%
  );
}
.dot10-infra {
  height: 37px;
  width: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(251, 250, 250, 0.04); */
  border-radius: 50%;
  position: relative;
  left: 71%;
  margin-top: -60%;
  background: linear-gradient(
    90deg,
    rgba(224, 176, 255, 0.2) 0%,
    rgba(148, 116, 246, 0.2) 76.04%
  );
}
.figma2001-infra {
  margin-right: 20%;
  width: 100%;
  margin-top: 30%;
}
.circles-infra {
  margin-right: -15%;
}
.development-alert-head {
  color: #fff;
  font-family: "Libre Franklin";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}
.development-alert-text {
  color: #fff;
  font-family: "Libre Franklin";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dot6-infra {
  animation: bounce 2s ease-in-out infinite, fadeInOut 2s ease-in-out infinite;
}

.dot7-infra {
  animation: rotate 3s linear infinite, fadeInOut 2s ease-in-out infinite;
}

.dot8-infra {
  animation: fadeInOut 2s ease-in-out infinite, rotate 2s linear infinite;
}

.dot9-infra {
  animation: faseInOut 2s ease-in-out infinite, bounce 2s linear infinite;
}

.dot10-infra {
  animation: rotate 3s linear infinite, fadeInOut 2s ease-in-out infinite;
}

/* .total-networks-text {
  color: #fff;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
  letter-spacing: 0.8px;
}
.four-text {
  color: #fff;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 2.16px;
}
.four-text-dot2 {
  font-size: 34px;
  color: #fff;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; 
  letter-spacing: 1.36px;
  
}
.plus-text-dot2 {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Roboto Flex";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 1.36px;
}
.plus-text {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Roboto Flex";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 2.16px;
}
.total-networks-dot2 {
  color: #fff;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
  letter-spacing: 0.56px;
} */
