* {
  margin: 0px;
  padding: 0px;
}
.main22-landing {
  width: 100%;
}
.maindevelop-landing {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing {
  width: 100%;
  max-width: 1280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 30;
}
.leftdevelop-landing {
  width: 40%;
  /* margin-left: 4%; */
  margin-top: 12%;
  border-radius: 24px;
  padding: 40px;
  flex-direction: column;
  top: 50%;
  left: 50%;
}
.landing-text-main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 24px;
}
.RightDevelop-landing {
  width: 60%;
  /* overflow: hidden; */
  position: relative;
  /* margin-top: 12%; */
 text-align: end;
}
.subleftdevelop1-landing {
  text-align: left;
}

.subleftdevelop1-landing h1 {
  color: #fff;
  font-family: "Libre Franklin";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-top: 1%;
  text-align: left;
}
.landing-text-para {
  color: rgb(225, 225, 225);
  font-family: "Libre Franklin";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-align: left;
  margin-top: 3%;
}

.servicesdevelop-landing {
  font-family: "Libre Franklin";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 100% */
  background: linear-gradient(180deg, #fff 0%, #a562f7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}

.landing-btn-main {
  display: flex;
  padding: 16px 40px;
  border-radius: 16px;
  background: linear-gradient(180deg, #2f50da 0%, #a562f7 100%);
  color: #fff;
  font-family: "Libre Franklin";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 8%;
  cursor: pointer;
  text-align: left;
}
.landing-btn-main:hover {
  background: linear-gradient(180deg, #a562f7 0%, #3b4e9a 100%);
  transform: scale(1.1);
}
.myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 40%;
  z-index: 10;
}
/* @keyframes bounceAndFade {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
  40% {
    transform: translateY(-20px) scale(1.2) rotate(15deg);
    opacity: 0.8;
  }
  60% {
    transform: translateY(-10px) scale(1.1) rotate(-10deg);
    opacity: 0.9;
  }
}

@keyframes pulsate {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animated-image {
  animation: bounceAndFade 2s ease-in-out infinite, pulsate 2s ease-in-out infinite;
} */
.leftlanding-bg {
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.bulb {
  animation: flicker 1s infinite;
  
}


