* {
  margin: 0px;
  padding: 0px;
}
.main22-landing {
  width: 100%;
}
.maindevelop-landing {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.leftdevelop-landing {
  width: 65%;
  /* margin-left: 4%; */
  /* margin-top: 12%; */
  border-radius: 24px;

  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  gap: 10;
}
.landing-text-main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 24px;
}
.RightDevelop-landing {
  width: 55%;
  display: flex;
  justify-content: end;
  margin-left: 5%;
  margin-top: 6%;
}

.subleftdevelop1-landing h1 {
  color: #fff;
  font-family: "Libre Franklin";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-top: 1%;
  text-align: left;
}
.landing-text-para {
  color:rgb(225, 225, 225);
  font-family: "Libre Franklin";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 171.429% */
 

  margin-top: 3%;
}

.servicesdevelop-landing {
  font-family: "Libre Franklin";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 100% */
  background: linear-gradient(180deg, #fff 0%, #a562f7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

.landing-btn-main {
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: linear-gradient(180deg, #2f50da 0%, #a562f7 100%);
  color: #fff;
  font-family: "Libre Franklin";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
  margin-top: 3%;
  cursor: pointer;
  
}
.landing-btn-main:hover {
  background: linear-gradient(180deg, #a562f7 0%, #3b4e9a 100%); 
  transform: scale(1.1);
}
.myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 40%;
}
/* @keyframes bounceAndFade {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
  40% {
    transform: translateY(-20px) scale(1.2) rotate(15deg);
    opacity: 0.8;
  }
  60% {
    transform: translateY(-10px) scale(1.1) rotate(-10deg);
    opacity: 0.9;
  }
}

@keyframes pulsate {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animated-image {
  animation: bounceAndFade 2s ease-in-out infinite, pulsate 2s ease-in-out infinite;
} */
