.letstalk-main {
  display: flex;
  /* padding: 5rem; */
  justify-content: space-between;
  align-items: center;
 
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.letstalk-head {
  justify-content: space-between;
}

.letstalk-para-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  color: #ffffff;
  text-align: left;
  margin-bottom: 10%;
}
.letstalk-form {
  display: flex;
}
.talk-text {
  background: linear-gradient(169deg, #6458e7 26.53%, #9760f4 55.47%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Libre Franklin";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}
.lets-text {
  color: #fff;
  font-family: "Libre Franklin";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 118.519% */
  text-align: left;
  margin-bottom: 2%;
}
.right-letstalk {
  margin-bottom: -5%;
  width: 50%;
}
.form-bg {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.04);
}
.name-form {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;

  height: 54px;
  padding: 0px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}
.send-btn {
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: linear-gradient(180deg, #2f50da 0%, #a562f7 100%);
  color: #fff;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.text-field-bg {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 0px 10px;
}
.left-letstalk {
  width: 50%
}
