.resolute {
  width: 100%;
  margin: auto;
  display: flex;
}
.maindevelop-resolute {
 
  display: flex;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.leftdevelop-resolute {
  width: 50%;
}
.RightDevelop-resolute {
  width: 50%;
}
.text-style-1 {
  color: #fff;
  font-family: "Libre Franklin";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 100% */
  text-align: start;
  justify-content: start;
  display: flex;
}

.Resolute-Interchain-Interface {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Libre Franklin";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: start;
  justify-content: start;
  display: flex;
  margin-bottom: 3%;
}
.text-frame {
  color: #fff;
  font-family: "Libre Franklin";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.text-frame p {
  display: flex;
  justify-content: start;
  text-align: start;
}
.resolute-btn {
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Libre Franklin";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.RightDevelop-delegate {
  width: 60%;
  display: flex;
  justify-content: end;
}
